// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events{
  width: 60%;
  float: left;
  margin-bottom: 20px;
  .event {
    float: left;
    padding-bottom: 10px;
    width: 100%;
    div {
      float: left;
      width: 30%;
      span {
        padding-right: 20px;
      }
    }
  }
}
